body {
background-color: #a71a94;
color: rgb(249, 250, 255);
font-family: "Bai Jamjuree", sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;
}

button {
background-color: #f7056a;
color: white;
font-family: "Bai Jamjuree", sans-serif;
}